html,
body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family:Helvetica, Arial;
}

body {
    background:#ececec;
}

#outer {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
}

#inner {
    display:block;

    width: 500px;
    height: 480px;

    position: absolute;
    margin-left: -250px;  /* =>  width / 2  */
    top: -240px;          /* =>  height / 2  */
    left: 50%;
}

#inner p {
    font-size:29px;
    color:#535559;
    text-align:center;
    text-shadow:0px 2px 1px #fff;
}

#inner a.me,
#inner a.me:active,
#inner a.me:visited,
#inner a.me:hover {
    display:inline-block;
    width:60px;
    height:28px;

    font-size: 0;
    text-shadow: none;
    color: #294995;

    background: url("me.png") no-repeat;
    background-size: 60px 28px;

    vertical-align:middle;
    text-decoration:none;
}

span.target-name {
    font-weight: bold;
}

#inner b, #inner a {
    font-weight:bold;
    color:#335fa1;
}

#inner div.footer {
    margin-top: 80px;
}

#inner div.footer > p {
    color:#a4a4a4;
    font-size:13px;
}

#inner div.footer a {
  text-decoration:none;
}

.twitter-share-button {
    opacity:0.5;
    margin-left:9px;
    margin-top:5px;
}

.twitter-share-button:hover {
    opacity:1;
}
